body {
    padding: 0;
    margin: 0;
    background: #e6e6e6;
    font-family: 'Space Mono', monospace;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

main {
    display: none;
    background: #aaa7c1;
    max-width: 350px;
    max-height: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color=#000000)";
    /*IE 8*/
    -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    /*FF 3.5+*/
    -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000);
    /*IE 5.5-7*/
    transition: all .2s ease-in-out;
}

main.collapsed {
    max-height: 60px;
    transition: all .2s ease-in-out;
}

button:focus {
    outline: none;
}

#navWrapper {
    cursor: pointer;
    z-index: 100;
    position: relative;
    width: 100%;
    background: #ae96a3;
    text-align: center;
    height: 60px;
    border-radius: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color=#000000)";
    /*IE 8*/
    -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    /*FF 3.5+*/
    -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000);
    /*IE 5.5-7*/
}

.navbar {
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -ms-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    width: 100%;
    max-height: 280px;
    border-radius: 20px;
    z-index: 999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color=#000000)";
    /*IE 8*/
    -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    /*FF 3.5+*/
    -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000);
    /*IE 5.5-7*/
}

#toggleStatusMenu.collapsed,
.navbar.collapsed,
#toggleContactMenu.collapsed {
    max-height: 0;
    -ms-filter: none;
    /*IE 8*/
    -moz-box-shadow: none;
    /*FF 3.5+*/
    -webkit-box-shadow: none;
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: none;
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: none;
    /*IE 5.5-7*/
}

.navbar-toggle {
    line-height: 60px;
    padding: 0 20px;
    font-size: 12px;
    border: none;
    background-color: #0066ff;
    color: white;
    cursor: pointer;
    position: absolute;
    width: 100px;
    lefT: calc(50% - 50px);
    top: 0px;
    transition: all .2s ease-in-out;
}

.navbar-toggle:hover,
.navbar-toggle:active {
    background-color: white;
    color: #0066ff;
}

.navbar-toggle:focus {
    outline: none;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    border-top: 1px solid #efefef;
}

.navbar li:last-child {
    border-bottom: 1px solid #efefef;
}

.navbar li a {
    display: block;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
    color: #373737;
}

.navbar li a:hover {
    background-color: #eee;
}

.search {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

.search input {
    text-indent: 30px;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 15px;
    color: gray;
}

#user-pic,
#contact-pic {
    width: 40px;
    height: 40px;
    margin: 10px 10px 10px 10px;
    float: right;
    position: relative;
}

#contact-pic {
    float: left;
}

a label {
    display: inline-block;
}

.online-status,
#user-pic button.online-status,
#contact-pic .online-status {
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background: #00ff00;
    position: absolute;
    top: 0;
    right: 0;
}

#user-pic button.online-status {
    cursor: pointer;
}

.online-status.bussy {
    background: orange;
}

.online-status.away {
    background: red;
}

.online-status.offline {
    background: gray;
}

#user-pic button.online-status {
    padding: 0;
    border: 1px solid #00ff00;
}

.offline {
    background: #bfbfbf !important;
}

#user-pic img,
#contact-pic img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}

#contact-info {
    float: left;
}

#user-info-btn {
    float: left;
    border: none;
    background: transparent;
    color: ;
    height: 60px;
    width: 25px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#user-info-btn {
    float: right;
    width: auto;
    line-height: 55px;
}


#user-input {
    position:absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    background: #ae96a3;
    border-radius: none;
    height: 50px;
    margin: 0% 0%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color=#000000)";
    /*IE 8*/
    -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    /*FF 3.5+*/
    -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000);
    /*IE 5.5-7*/
    transition: all .2s ease;
}

#user-input textarea {
    font-size: 20px;
    width: 70%;
    margin-left: 30%;
    height: 50px;
    max-height: 10em;
    border-radius: none;
    resize: none;
    overflow: hidden;
    padding: 5px 50px 5px 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color=#000000)";
    /*IE 8*/
    -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    /*FF 3.5+*/
    -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000);
    /*IE 5.5-7*/
    transition: all .2s ease;
    z-index: 999;
}

#user-input textarea:focus,
#user-input textarea:active,
#user-input textarea:hover {
    outline: none;
}

#user-input textarea:focus,
#user-input textarea:active {
    margin-left: 0px;
    width: 100%;
}

.nav li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li input {
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #efefef;
}

#send-btn {
    position: absolute;
    right: 2%;
    top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background: #0066ff;
    color: white;
    border: 1px solid #0066ff;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#send-btn:hover,
#navToggle.active {
    background: white;
    color: #ae96a3;
}

#image-btn,
#emoji-btn {
    position: absolute;
    left: 2%;
    top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background: white;
    color: #0066ff;
    border: 1px solid white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#emoji-btn {
    left: 15%;
}

#image-btn:hover,
#emoji-btn:hover {
    background: #0066ff;
    color: white;
}

#user-input textarea:focus+#image-btn,
#user-input textarea:active+#image-btn,
#user-input textarea:focus+#image-btn+#emoji-btn,
#user-input textarea:active+#image-btn+#emoji-btn {
    display: none;
}

#messages {
    width: 90%;
    height: calc(100% - 325px);
    max-height: 250px;
    position: relative;
    background: transparent;
    margin: 0px auto;
    margin-bottom: 45px;
    overflow-y: scroll;
}

#messages::-webkit-scrollbar,
.navbar::-webkit-scrollbar {
    width: 5px;
}

#messages::-webkit-scrollbar-track,
.navbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

#messages::-webkit-scrollbar-thumb,
.navbar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

#messages .msg.me {
    width: 100%;
    text-align: right;
}

#messages .msg.him {
    width: 100%;
    text-align: left;
}

#messages .msg.him span,
#messages .msg.me span {
    display: inline-block;
    max-width: 65%;
    border: 1px solid darkgray;
    padding: 5px 10px;
    border-radius: 20px;
    word-wrap: break-word;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color=#000000)";
    /*IE 8*/
    -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    /*FF 3.5+*/
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#000000);
    /*IE 5.5-7*/
}

#messages .msg.him span {
    background: white;
}

#messages .msg.me span {
    background: white;
    color: black;
}

.msg.me+.msg.him {
    margin-top: 15px;
}

.msg.him+.msg.me {
    margin-top: 15px;
}

.msg.him+.msg.him {
    margin-top: 7px;
}

.msg.me+.msg.me {
    margin-top: 7px;
}

#messages .msg.me:last-child,
#messages .msg.him:last-child {
    margin-bottom: 10px;
}


/* PROMPT */

#promptWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#myPrompt {
    width: 250px;
    height: auto;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    border-radius: 20px;
}

#promptQuestion,
#promptAnswer,
#promptButton {
    display: block;
}

#promptAnswer {
    text-align: center;
    padding: 5px;
    border: 1px solid #e3e3e3;
    border-radius: 20px;
}

#promptAnswer:focus {
    outline: none;
}

#promptButton {
    border: 1px solid #0066ff;
    border-radius: 20px;
    padding: 5px 15px;
    background: #0066ff;
    color: white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#promptButton:hover {
    background: white;
    color: #0066ff;
}

#promptQuestion,
#promptAnswer {
    margin-bottom: 20px;
}


/* contact dropdown */

#toggleStatusMenu,
#toggleContactMenu {
    width: 100%;
    height: auto;
    background: white;
    position: absolute;
    left: 0px;
    top: 70px;
    border-radius: 20px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color=#000000)";
    /*IE 8*/
    -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    /*FF 3.5+*/
    -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000);
    /*IE 5.5-7*/
    overflow: hidden;
    overflow-y: scroll;
}

#toggleStatusMenu {
    width: 200px;
    left: -160px;
    top: 60px;
}

#toggleStatusMenu.collapsed {
    max-height: 0px;
}

#toggleStatusMenu ul,
#toggleContactMenu ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

#toggleStatusMenu ul li,
#toggleContactMenu ul li {
    padding: 5px 0px 5px 0px;
}

#toggleStatusMenu ul li {
    position: relative;
    padding: 5px 10px;
}

#toggleStatusMenu ul li .online-status {
    top: 12px;
    right: 10px;
}

#toggleContactMenu ul li:hover,
#toggleStatusMenu ul li:hover {
    background: #efefef;
}

#toggleStatusMenu ul li:first-child:hover {
    background: white;
    cursor: auto;
}

#toggleContactMenu ul li a {
    text-decoration: none;
}

#toggleContactMenu ul li:hover a svg {
    color: #0066ff;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: auto;
    height: auto;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

input.fas.fa-image {
    border: none;
    background: transparent;
    font-size: 16px;
    line-height: 12px;
}

#apply {
    display: none;
    border: none;
    background: transparent;
    margin: 10px;
    cursor: pointer;
}

#pickerMenuBody,
#pickerMenuChat {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: white;
    padding-top: 35px;
    display: none;
}

#pickerMenuBody div,
#pickerMenuChat div {
    display: inline-block;
}

#applyColor {
    border: 1px solid #0066ff;
    background: #0066ff;
    padding: 10px;
    line-height: 10px;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
}

#applyColor:hover,
#applyColor:active {
    background: white;
    color: #0066ff;
}

#picker-wrapper {
    width: 200px;
    height: auto;
    position: relative;
}

#slider-wrapper {
    width: 30px;
    height: auto;
    position: relative;
}

#picker-indicator {
    width: 3px;
    height: 3px;
    position: absolute;
    border: 1px solid black;
    background: white;
}

#slider-indicator {
    width: 100%;
    height: 10px;
    position: absolute;
    border: 2px solid black;
    left: 0px;
}

.online {
    border-color: green;
}

.bussy {
    border-color: orange;
}

.away {
    border-color: red;
}

.offline {
    border-color: gray;
}

#user-info-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.info-section-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.user-img-cont {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 20px;
}

.user-img-cont img {
    max-width: 150px;
    height: auto;
}

@media screen and (max-width: 768px) {
    /*   #myPrompt {
        width: 250px;
    }
    #toggleContactMenu {
        width: 100%;
        left: 0;
        right: 0;
    }
    body {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    } */
    main {
        max-height: 100vh;
        max-width: 100vw;
        display: block;
        top: 0px;
        overflow: hidden;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border-radius: 0px;
    }
    #messages {
        max-height: calc(100vh - 100px);
        height: calc(85vh - 100px);
        padding-left: 3px;
    }
    .navbar,
    #toggleContactMenu {
        max-height: calc(100vh - 125px);
        width: 90%;
        margin: 0 auto;
    }
    #navWrapper {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        transition: all .2s ease-in-out;
    }
    #navWrapper.clicked {
        border-radius: 0px;
    }
    .info-section-column {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
}